@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.25;
}
.wrapper {
  max-width: 1260px;
  margin: 0 auto;
}

/* ---------------------- */
/* ------- HEADER ------- */
/* ---------------------- */

header {
  position: sticky;
  top: 0;
  z-index: 100;
  right: 0;
  left: 0;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-family: sans-serif;
}

/* --------------------------- */
/* ------- DEVICES-BOX ------- */
/* --------------------------- */

.devices-box {
  background-color: white;
  padding: 20px;
  width: 300px;
  margin: 40px;
  transition: transform 0.5s, top 0.5s 0.5s;
}
.devices-box>p{
  margin: 20px;
  font-weight: bold;
}
.devices-box>h2{
  
  font-weight: bold;
}
.devices-box:hover {
  transform:translateY(-20px);
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 4px 6px 21px 0px rgba(0,0,0,0.75);
  transition: transform 0.5s, top 0.5s 0.5s;
}
.devices {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.details:hover {
  font-size: 15px;
 color: black;
}
a {
  text-decoration: none;
  color: black;
}
.basketbutton-box{
  justify-content: center;
  align-items: baseline;
}
.basketbutton {
  background-color:#333;
  color: white;
  font-size: 120%;
  border-radius: 300px;
  border: none;
  padding: 8px 16px 8px 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.basketbutton:hover {
  background-color: rgb(74,74,74);;
}
/* ---------------------- */
/* ------- CONTACT ------- */
/* ---------------------- */
h2 {
  text-align: center;

}
#name,
#email,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#submit {
  background-color: rgb(0,123,255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(0,105,195);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50vw;
  margin: 0 auto;
}

/* ---------------------- */
/* ------- SUBPAGE ------- */
/* ---------------------- */
.item-container {
  display: flex;
  justify-content: center;
}
.item-picture {
  margin: 130px;
}
.item-main {
  padding: 20px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 5rem;
}
.item-main>h2{
  margin-top: 50px;
  font-weight: bold;
  font-size: 300%
}
.item-main>p{
  text-transform: uppercase;
  margin-bottom: 50px;
}
.item-details{
  font-size: 110%;
  margin-bottom: 50px;
}
.data-wrapper>h3 {
  font-size: 250%;
  margin-bottom: 30px;
  padding-left: 12px;
}
.item-main>h4 {
  font-size: 200%;
  font-weight: 400;
}
td {
  padding: 5px 10px 5px 10px;
}
.content-main {

  margin-bottom: 25px;
}
.table {
  margin: 25px 0 25px;
}
h5 {
  padding: 0 0 0 12px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

/* ---------------------- */
/* ------- FOOTER ------- */
/* ---------------------- */
.footer-container {
  display: block;
  background-color: gray;
  color: white;
  text-align: center;
}
h5 {
  text-transform: uppercase;
}
.contactus {
  margin:50px;
  text-transform: uppercase;
}

/* ---------------------- */
/* ------- MEDIA QUERY ------- */
/* ---------------------- */
@media only screen and (max-width: 600px) {
  .devices-box {
    width: 100vw;
  }
}
@media only screen and (max-width: 600px) {
  .devices {
   margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .devices-box {
   margin-bottom: 0;
   margin-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .devices {
   margin-bottom: 0;
   margin-top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .item-container {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 700px) {
  .item-picture {
    margin-bottom:0 !important;
    margin-top: 50px !important;
  }
}
@media only screen and (max-width: 1020px) {
  .item-picture {
    margin-left: 20px !important;
    margin-right: 20px !important;

  }
}
@media only screen and (max-width: 700px) {
  .data-wrapper{
    margin-top: 25px !important;
}
}
@media only screen and (max-width: 700px) {
  .item-main{
    margin-top: 25px !important;
    margin-bottom: 15px !important;
  }
  }
  @media only screen and (max-width: 600px) {
    .container {
      width: 80vw;
    }
  }
  @media only screen and (max-width: 700px) {
    h2{
      margin:25px !important;
    }
    }